@import "tailwindcss";
@source "./node_modules/preline/dist/*.js";
@import "preline/variants.css";

/* Aktifkan dark mode berbasis class di html */
@custom-variant dark (&:where(.dark, .dark *));

/* Plugins */
@plugin "@tailwindcss/forms";
/* Transisi smooth untuk warna background & teks */
html,
body,
/* * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 400ms;
    transition-timing-function: ease;
} */
/* .nav-link.active {
    @apply text-blue-600 active:text-blue-600 dark:active:text-blue-500 font-semibold;
} */
